<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Login</a>
      </li>
      <li>
        <a href="/"><span class="glyphicon glyphicon-user"></span>Registro</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> ¿Quienes Somos? <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/">Delmiro Cantillo</a></li>
            <li><a href="/">Joaquin Liñan</a></li>
            <li><a href="/">Giusti Rodriguez</a></li>
            <li><a href="/">Mark Solano</a></li>
          </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-plus"></span> Mas... <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://drive.google.com/file/d/1EeoTFhlBn3Mfmdh7xrNHpEwa1eLipykc/view?usp=sharing">SmartHome 1.0</a></li>
            <li><a href="https://githubprueba-jalb.herokuapp.com/Consulta">Consulta</a></li>
            <li class="divider"></li>
            <li><a href="https://ps.w.org/under-construction-page/assets/screenshot-19.png?rev=1840052">Under construction</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-book"></span> Heroku Dev Center</a>
      </li>
    </ul>
  </div>
</nav>
